body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, San-Serif;
  font-size: 16px;
  color: #595959;
}
.bg_div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://www.baltana.com/files/wallpapers-16/Digital-Art-Background-HD-Wallpapers-41706.jpg")
    center / cover no-repeat;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(11, minmax(120px, 1fr)); */
  background: #f97970;
  padding: 15px 0 15px 25px;
}
li {
  list-style: none;
  width: 25%;
  text-align: center;
}

ul li:hover {
  border-bottom: 5px solid #02132c;
}
li:first-child {
  border-bottom: 5px solid #02132c;
  color: white;
  width: 50%;
  align-items: center;
}

li:last-child {
  grid-column-end: -1;
  justify-self: end;
  margin: 0 30% 3% 0;
}
li > a {
  text-decoration: none;
  font: #02132c 24px;
  position: relative;
  transition: all 0.5s ease-in;
}

li a > i {
  font-size: 45px;
  color: #fbefd7;
  width: 100%;
}
i ~ div::first-letter {
  color: #f97970;
  font-size: 30px;
}

.hide {
  position: absolute;
  top: -125px;
  left: -30px;
  display: none;
  padding: 10px;
  border-radius: 50px;
  font:  oblique small-caps bold 17px/17px Georgia, serif;
  background: #fff;
}

.tooltip:hover + .hide {
  display: block;
}

/* note eigenlijk doet de a tag dit al bij default  */
.progress {
  cursor: progress;
}

/* styling voor karakter_img */

#karakter_container {
    visibility: hidden;
}
.karakter_container {
  position: absolute;
  top: 40px;
  left: 40px;
  display: grid;
  /* grid-template-columns: repeat (auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: repeat( 2, 1fr); */
  background: #fff;
  border-radius: 50px;
  padding: 30px;
}
.karakter_img {
  width: 300px;
}
.karakter_info {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}
.karakter_details {
  min-width: 350px;
  margin: 30% 0 0 10%;
}
div.karakter_details > p {
  text-transform: uppercase;
  font: 26px/ 35px bold;
}
div.karakter_details > p::first-letter {
  color: #f97970;
  font-size: 35px;
}
.karakter_skills {
  display: grid;
  grid-row: 2 / 6;
  padding: 0 0 10% 9%;
}
.karakter_skills h1 {
  text-transform: uppercase;
}
.karakter_table table {
  width: 100%;
}

.karakter_table th {
  font: bold;
  text-align: left;
  border-bottom: solid 1px #cccccc;
  padding: 5px 0;
}
.karakter_table td {
  border-bottom: solid 1px #f1f1f1;
  text-transform: uppercase;
}

.background_position_td {
  position: relative;
  top: 0;
  background: #f97970;
  height: 24px;
  padding: 0;
}
div .indeterminate:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  background: #f97970;
  height: 24px;
  will-change: left, right;
  animation: indeterminate 3.1s cubic-bezier(0.9, 0.815, 0.735, 0.395) infinite;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
