body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, San-Serif;
  font-size: 16px;
  color: #595959;
}
.background_page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://www.baltana.com/files/wallpapers-16/Digital-Art-Background-HD-Wallpapers-41706.jpg")
    center / cover no-repeat;
  z-index: -1;
}
.container_page {
  height: calc(auto - 60px);
  width: 80%;
  margin: 0 10%;
}
.contianer_menu {
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Outside settings */

/* **menu iconen alleemaal in het center  */
.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(11, minmax(120px, 1fr)); */
  background: #f97970;
  padding: 15px 0;
  place-items: center center;
}
li {
  list-style: none;
}

ul li:hover {
  border-bottom: 5px solid #02132c;
}
li:first-child {
  border-bottom: 5px solid #02132c;
  color: white;
}
/* onderzoek doen grid aatste element  */
li:last-child {
  grid-column-end: -1;
}
li > a {
  text-decoration: none;
  font: #02132c 24px;
  position: relative;
  transition: all 0.5s ease-in;
}

li a > i {
  font-size: 45px;
  color: #fbefd7;
  width: 100%;
}
i ~ div::first-letter {
  color: #f97970;
  font-size: 30px;
}

.hide {
  content: "boe";
  position: absolute;
  top: -125px;
  left: -30px;
  display: none;
  padding: 10px;
  border-radius: 50px;
  font: oblique small-caps bold 17px/17px Georgia, serif;
  background: #fff;
  z-index: 3;
}

.tooltip:hover + .hide {
  display: block;
  /* dir wordt vwervangen door .hide .. hover gaat op li element =+ border op lementen */
}

/* note eigenlijk doet de a tag dit al bij default  */
.progress {
  cursor: progress;
}

/* styling voor karakter_img */

#karakter_container {
  visibility: hidden;
}
.karakter_container {
  display: grid;
  z-index: 1;
  /* grid-template-columns: repeat (auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr;
  background: #fff;
  border-radius: 50px;
  padding: 30px;
  margin: 30px 0 0 0;
}

/* moet schaalbaar worde  */

.img_container img {
  width: 300px;
}

.karakter_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.karakter_details {
  min-width: 350px;
  margin: 30% 0 0 10%;
}
div.karakter_details p > span {
  text-transform: uppercase;
  font: 26px/ 35px bold;
  display: block;
}
div.karakter_details p > span::first-letter {
  color: #f97970;
  font-size: 35px;
}






.karakter_skills {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px; */
  padding: 0 0 0 55px;
  /* display: block; */
}
.karakter_skills h1 {
  text-transform: uppercase;
}
/* grid-table */
.karakter_container_th {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    grid-column: 1 / 5;
    grid-row: 1 /2;
    background: #f97970;
    place-items: center end;
  
  }

.karakter_wrapper_td {
  /* display: grid;
  grid-template-rows: 1fr; */
  /* grid-column: 1; */
  grid-row: 2 / 9;
  
}
.karakter_wrapper_td span{
    display: block;
}

/* 
/* table naat grid omzetten  */
/* waatom daar geen absolute  */
/* media quries erin  */
