body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, San-Serif;
  font-size: 16px;
  color: #595959;
  box-sizing: border-box;
}
.page__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://www.baltana.com/files/wallpapers-16/Digital-Art-Background-HD-Wallpapers-41706.jpg")
    center / cover no-repeat;
  z-index: -1;
}
.page__container {
  height: calc(auto - 90px);
  width: 80%;
  margin: 0 10%;
}

/* menu */
.menu {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu__elements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f97970;
  padding: 15px 0;
  place-items: center center;
}

li {
  list-style: none;
}
li::content::first-letter {
  color: #f97970;
  font-size: 30px;
}

li:hover::after {
  content: "Karakter";
  position: absolute;
  top: -125px;
  left: 7%;
  padding: 10px;
  border-radius: 50px;
  font: oblique small-caps bold 30px/21px Georgia, serif;
  background: #fff;
}
li:nth-child(2):hover::after {
  content: "Knowledge Book";
  top: -125px;
  left: 27%;
}
li:nth-child(3):hover::after {
  content: "Achievements";
  top: -125px;
  left: 47%;
}
li:nth-child(4):hover::after {
  content: "Quests";
  top: -125px;
  left: 67%;
}
.menu__lastitem:hover::after {
  content: "History";
  top: -125px;
  left: 87%;
}

li:first-child {
  border-bottom: 5px solid #02132c;
}

.menu__lastitem {
  grid-column-end: -1;
}
li a > i {
  font-size: 45px;
  color: #fbefd7;
  width: 100%;
}
li a > i:hover {
  color: #02132c;
}

li a:focus > i {
  color: #02132c;
}
/* karakter container  */

.karakter__revealer {
  visibility: hidden;
  background: #fff;
  border-radius: 50px;
  padding: 30px;
  margin: 30px 0 0 0;
  max-width: 1000px;
}

.content__img_wrapper img {
  width: 100%;
}

.karakter__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.content__text {
  min-width: 350px;
  margin: 30% 0 0 10%;
}
div.content__text p > span {
  text-transform: uppercase;
  font: 26px/ 35px bold;
  display: block;
}
div.content__text p > span::first-letter {
  color: #f97970;
  font-size: 35px;
}

.karakter__table {
  margin: 30px 0 0 0;
  display: flex;
}
.table {
  display: grid;
  grid-template-columns: 250px 1fr;
  background: #f97970;
  color: #02132c;
  text-transform: uppercase;
  padding: 5% 8%;
  height: 20vh;
  width: 70vw;
}
.table__row {
  grid-row: 1;
}
.table__column {
  grid-column: 2;
  grid-row: 1;
}

.row__items {
  display: grid;
  grid-template-rows: repeat(11, 25px);
  margin: 5px 0;
}

.column__items {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
[class*="bar"] {
  border-radius: 50px;
  background-color: #fff;
  margin: 5px 0;
  text-align: end;
}
.bar1 {
  grid-column: 1 /9;
}
.bar2 {
  grid-column: 1;
}
.bar3 {
  grid-column: 1/ 5;
}

@media only screen and (max-width: 900px) {
  .menu__lastitem:hover::after {
    top: -125px;
    left: 69%;
  }

  .content__imgWrapper {
    visibility: hidden;
  }
  div.content__text p > span {
    font-size: 20px;
  }
  .table {
    grid-template-columns: 50px 1fr;
    font-size: small;
  }
  .menu__elements {
    background: rebeccapurple;
  }
}

@media only screen and (max-width: 600px) {
  .menu__lastitem:hover::after {
    top: -125px;
    left: 73%;
  }

  .content__imgWrapper {
    visibility: hidden;
  }
  div.content__text p > span {
    font-size: 20px;
  }
  .table {
    grid-template-columns: 50px 1fr;
    font-size: small;
  }
  .menu__elements {
    background: red;
  }
}

/* **menu iconen alleemaal in het center  */

/* ???? als je de eerste li op before zet en de rest op after .. gaat het vanaf de tweede niet goed hoe dan ? */
/* de before komt tussen de li en a opening */
/* de after komt tussen de li en a sluit tag */

/* !! omdat de alle li de hover aan staat doet die befor en after tegeloijk  */

/* ***onderzoek doen grid aatste element  */
/* ***moet schaalbaar worde  */

/* grid-table */
/* 
/* ***table naat grid omzetten  */
/* ***waatom daar geen absolute  */
/* ***media quries erin  */
