body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, San-Serif;
  font-size: 16px;
  color: #595959;
  box-sizing: border-box;
}
.background_page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://www.baltana.com/files/wallpapers-16/Digital-Art-Background-HD-Wallpapers-41706.jpg")
    center / cover no-repeat;
  z-index: -1;
}
.container_page {
  height: calc(auto - 90px);
  width: 80%;
  margin: 0 10%;
}
.contianer_menu {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* **menu iconen alleemaal in het center  */
.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f97970;
  padding: 15px 0;
  place-items: center center;
}

li {
  list-style: none;
}
li::content::first-letter {
  color: #f97970;
  font-size: 30px;
}

/* ???? als je de eerste li op before zet en de rest op after .. gaat het vanaf de tweede niet goed hoe dan ? */
/* de before komt tussen de li en a opening */
/* de after komt tussen de li en a sluit tag */

/* !! omdat de alle li de hover aan staat doet die befor en after tegeloijk  */

li:hover::after {
  content: "Karakter";
  position: absolute;
  top: -125px;
  left: 7%;
  padding: 10px;
  border-radius: 50px;
  font: oblique small-caps bold 30px/21px Georgia, serif;
  background: #fff;
}
li:nth-child(2):hover::after {
  content: "Knowledge Book";
  top: -125px;
  left: 27%;
}
li:nth-child(3):hover::after {
  content: "Achievements";
  top: -125px;
  left: 47%;
}
li:nth-child(4):hover::after {
  content: "Quests";
  top: -125px;
  left: 67%;
}
.menu__lastitem:hover::after {
  content: "History";
  top: -125px;
  left: 87%;
}

li:first-child {
  border-bottom: 5px solid #02132c;
}
/* ***onderzoek doen grid aatste element  */
.menu__lastitem {
  grid-column-end: -1;
}
li a > i {
  font-size: 45px;
  color: #fbefd7;
  width: 100%;
}
li a > i:hover {
  color: #02132c;
}

.karakter {
  visibility: hidden;
  background: #fff;
  border-radius: 50px;
  padding: 30px;
  margin: 30px 0 0 0;
  max-width: 1000px;
}

/* ***moet schaalbaar worde  */

.karakter_imgContainer img {
  width: 100%;
}

.karakter_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.karakter_container_details {
  min-width: 350px;
  margin: 30% 0 0 10%;
}
div.karakter_container_details p > span {
  text-transform: uppercase;
  font: 26px/ 35px bold;
  display: block;
}
div.karakter_container_details p > span::first-letter {
  color: #f97970;
  font-size: 35px;
}

.karakter_skills{
  margin: 30px 0 0 0;
  color: #02132c;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
/* grid-table */
.karakter_container_table {
  display: grid;
  grid-template-columns: 2fr repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 20vh;
  width: 70vw;
  background: #f97970;
  padding: 10px 0 10px 65px;
}

.karakter_title1,.bar1{
  grid-row: 3 ;
}
.karakter_title2,.bar2{
  grid-row: 4 ;
}
.karakter_title3,.bar3{
  grid-row: 5 ;
}
.karakter_title4,.bar4{
  grid-row: 6 ;
}
.karakter_title5,.bar5{
  grid-row: 7 ;

}


[class*="bar"] {
  
  border-radius: 50px;
  background-color: #fff;
  margin: 5px 0;
 text-align: end;
}
.bar1{
grid-column: 2 /10;
}

/* 
/* ***table naat grid omzetten  */
/* ***waatom daar geen absolute  */
/* media quries erin  */

/* .karakter_imgContainer img {
  width: 100%;
} */
