
body {
    margin: 0;
    padding: 0;
    
}
.bg_div{
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0; 
    background: url("http://www.baltana.com/files/wallpapers-16/Digital-Art-Background-HD-Wallpapers-41706.jpg") center / cover  no-repeat;        
  }
